/* topnav bar */
body{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
}
.topnav{
    background-color: rgb(50, 47, 47);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top: 0;
    z-index: 2;
    }
    /* link style */
.topnav a{ 
float: left;
color: #f2f2f2;
  text-align: center;
  padding: 1vw;
  text-decoration: none;
  font-size: 2vw;
}
/* color of links on hover */
.topnav a:hover {    
    background-color: #ddd;
    color: black;
}
/* color to active link */
.topnav a.active{
    background-color: #514948;
    color: white;
    margin-left: 1vw;
}
/* search button */
#chrome-search{
    font-size: 2vw;
    font-family:'Times New Roman', Times, serif;
    background-color: #ddd;
    top: 0;
    left: 0;
    border: 0;
    height: 4vw;
    border-radius: 2vw/50%;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0.5vw;
}
/* logo */
.logo1{
    padding-right: 1vw;
}
.logo1 img{
    width: 5.5vw;
    height: 4vw;
}

/* BLOCK 2 */
.men{
    background-color: rgb(158, 136, 136);
    height: 37vw;
    display: flex;
    justify-content: space-between;
}

.new-img1{
    background-image: url("https://scontent.fhfa1-1.fna.fbcdn.net/v/t39.30808-6/277000832_3121791351418886_1194016112384998103_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=hevPdvwDFXYAX_8LRRg&_nc_oc=AQlgdBB5M7VzLbnRhiDCQGaEsAXNMFepPuPy57ShfulVhP77TTx2r99Gx6UosK9CQ-4&tn=3NvTutf0W_WLBcwI&_nc_ht=scontent.fhfa1-1.fna&oh=00_AfBsSFV09X5tGdCVEv1zIpfi886Ge7kIBSV_In7qbcVbsQ&oe=639AA9EC");
    width: 100vw;
    height: 37vw;
    background-position: center;
    background-size: cover;
}

/* BLOCK 3  */
.products h2{
    padding-left: 4vw;
    background-color: rgb(244, 244, 244);
    margin: 1vw;
    margin-bottom: 0;
}
.items{
    margin-top: 1vw;
    display: flex;
    justify-content: space-around;
    background-color: rgb(244, 244, 244);
    margin: 1vw;
    margin-top: 0;
    padding-top: 2vw;
}
.item{
    display: flex;
    flex-direction: column;
    width: 20vw;
}
#new-item1{
    background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_1350,h_1350/global/374915/01/sv01/fnd/PNA/fmt/png/Suede-Classic-XXI-Men's-Sneakers");
    width: 25vw;
    height: 25vw;
    background-position: center;
    background-size: cover;
    border: rgb(158, 136, 136) 0.1vw solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}

#new-item2{
    background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_1350,h_1350/global/356999/19/sv01/fnd/PNA/fmt/png/Super-Liga-OG-Retro-Men's-Sneakers");
    width: 25vw;
    height: 25vw;
    background-position: center;
    background-size: cover;
    border: rgb(158, 136, 136) 0.1vw solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

#new-item3{
    background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_1350,h_1350/global/353572/12/sv01/fnd/PNA/fmt/png/Roma-Basic-Sneakers");
    width: 25vw;
    height: 25vw;
    background-position: center;
    background-size: cover;
    border: rgb(158, 136, 136) 0.1vw solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


@media screen and (max-width:768px) {
    .products h2{
        text-align: center;
        margin-left: 0 ;
    }
    .items{
        flex-direction: column;
        padding-left: 20%;
    }
    .item{
        width: 40vw;
    }
    #new-item1{
        width: 50vw;
        height: 50vw;
        }
    #new-item2{
        width: 50vw;
        height: 50vw;
        }
        #new-item3{
            width: 50vw;
            height: 50vw;
            }
}

